.currentCard {
    background: linear-gradient(45deg, var(--mantine-color-violet-3), var(--mantine-color-indigo-4));
    color: hsl(0, 0%, 0%);
    min-width: 250px;
    height: 150px;
}
.currentVitals {
    color: hsl(0, 0%, 0%);
    min-width: 250px;
    height: 150px;
}