.formContainer {
    margin-top:10%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:1rem;
}

.container {
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    gap: 10px;
    
}